<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout08</title>
<style>
	#header{
		background-color:yellow;
		width:100%;
		height:80px;
	}
	#nav{
		width:30%;
		background-color: red;
		height: 150px;
		float:left;
	}
	#content{
		width:70%;
		background-color:hotpink;
		height:150px;
		float:right; /*같은 줄에서 오른쪽에 크기만큼 배치됨*/
	}
	#footer{
		width:100%;
		height:50px;
		background-color:green;
		clear:both; /*이전 속성이 float였기 때문에 float속성 해제 필요함*/
	}
</style>
</head>
<body>
	<div id="wrapper">
		<div id="header">header</div>
		<div id="nav">nav</div>
		<div id="content">content</div>
		<div id="footer">footer</div>
	</div>
</body>
</html>