<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout01</title>
</head>
<body>
	<h1>블럭요소</h1>
	<h1 style="background-color: red">h1으로 정의된 부분입니다.</h1>
	<div style="background-color: aqua">div로 정의된 부분입니다.</div>
	<p style="background-color: yellow">p로 정의된 부분입니다.</p>
	<pre style="background-color: green">pre로 정의된 부분입니다.</pre>
	<hr>
	<h1>인라인 요소</h1>
	<em>em요소</em>
	<span style="display: block;background-color: hotpink">span요소</span>
	<img src="../img/yuna.jpg">
	<a href="http://www.naver.com">네이버</a>
	</body>
</html>