<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layout03</title>
<style>
 #one{
 	background-color: cyan;
 	width: 200px;
 	height: 50px;
 	}
 	#two{
 		/* position: static; 요소들의 특성(block,inline)에 맞춰 자리를 잡는 방식*/
 		position: relative; /*상대위치설정: 정상적인 위치를 기준으로 함*/
 		left:30px;	/*따라서 top,bottom,left,right 값이 하나라도 들어가야 함*/
 		background-color: yellow;
 		width:200px;
 		height:50px;
 		}
 	#three{
 		background-color: lightgreen;
 		width:200px;
 		height: 50px;
 		}	
</style>
</head>
<body>
	<p id="one">block #1</p>
	<div id="two">
	block #2<br>
	position:static;<br>
	</div>
	<p id="three">block #3</p>
</body>
</html>