<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>computer</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Gaegu|Gamja+Flower|Hi+Melody|Hind|Indie+Flower|Poor+Story');
	#computer1, #computer2{
			width:280px;
			float: left;
			border:1px solid white;
			margin-left:5px;
			font-family: 'Poor Story', cursive;
			color:gray;
	}
</style>
</head>
<body>
	<div id="computer1">
		<img src="../img/note.png" width="280" height="230">
		<p>
			cpu : Intel Core 8세대 i5 쿼드코어 장착<br> 
			양방향 부스터 충전 가능<br> 
			더욱 더 커진 배터리로 어디서든 자유롭게<br>
		         믿을 수 있는 내구성<br> 
		         가격 : 1,200,000원
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
	<div id="computer2">
		<img src="../img/hp.jpg" width="280" height="300">
		<p>
			성능과 디자인을 모두 갖춘 우리 가족 첫번째 올인원 PC<br>
			 멀티 태스킹에 탁월한 FHD 고해상도<br>
			IPS 광시야각 디스플레이<br> 
			가격 : 500,000원
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
</body>
</html>