<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Gaegu|Gamja+Flower|Hi+Melody|Hind|Indie+Flower|Poor+Story');
	#fassion1, #fassin2{
			width:280px;
			float: left;
			border:1px solid white;
			margin-left:5px;
			font-family: 'Poor Story', cursive;
			color:gray;
	}
</style>
</head>
<body>
<div id="fassion1">
		<img src="../img/adidas.jpg" width="280" height="230">
		<p>
		상품번호 : B471422806<br>
		제품소재 : 폴리에스터 100% <br>
		색상 : 블랙 <br>
		사이즈 : 75 - 100 <br>
		제조사/수입자 : 아디다스 <br>
		제조국 : 인도네시아 <br>
		가격 : 89,000원
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
	<div id="fassion2">
		<img src="../img/shose.jpg" width="280" height="230">
		<p>
		제품명 :  17ss 발렌시아가 스피드러너 블랙 롱버전
		제품소재 : 폴리마이드80% 엘라스틴20%<br>
		제조사/수입자 : Balenciaga<br>
		원산지/적출국 : ITALY<br>
		가격 : 1,039,000원	
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
</body>
</html>