<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Gaegu|Gamja+Flower|Hi+Melody|Hind|Indie+Flower|Poor+Story');
	#movie1, #movie2{
			width:280px;
			float: left;
			border:1px solid white;
			margin-left:5px;
			font-family: 'Poor Story', cursive;
			color: gray;
	}

</style>
</head>
<body>
	<div id="movie1">
		<img src="../img/movie1.jpg" width="280" height="230">
		<p>
			영화제목 : 목격자<br>
			개봉일 : 2018.08.15<br>
			감독 : 조규장<br>
			출연 : 이성민, 김상호, 진경, 곽시양 ...<br>
			평점 : 7.84점 <br>
			예매율 : 4위 
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
	<div id="movie2">
		<img src="../img/movie2.jpg" width="280" height="300">
		<p>
			영화제목 : 신과함께 - 인과 연<br>
			개봉일 : 2018.08.01<br>
			감독 : 김용화 <br>
			출연 : 하정우, 주지훈, 김향기, 이정재 ...<br>
			평점 : 8.64점 <br>
			예매율 : 2위
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
</body>
</html>