<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Gaegu|Gamja+Flower|Hi+Melody|Hind|Indie+Flower|Poor+Story');
	#music1, #music2{
			width:280px;
			float: left;
			border:1px solid white;
			margin-left:5px;
			font-family: 'Poor Story', cursive;
			color: gray;
	}
</style>
</head>
<body>
<body>
	<div id="music1">
		<img src="../img/10cm.jpg" width="280" height="230">
		<p>
			제목 : 매트리스<br>
			아티스트 : 10cm<br>
			장르 : 인디뮤직, 포크<br>
			발매 : 2018.08.23<br>
			배급 : 로엔엔터테이먼트
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
<body>
	<div id="music2">
		<img src="../img/han.jpg" width="280" height="230">
		<p>
		제목 : 한(ㅡ)<br>
		아티스트 : (여자)아이들<br>
		장르 : 댄스<br>
		발매 : 2018.08.14<br>
		배급 : 로엔엔터테이먼트
		</p>
		<input type="button" value="쇼핑카트에 추가하기">
	</div>
</body>
</html>